<html>
    <head>
        <title>Daniel Stocker's CV</title>
        <link rel="stylesheet" href="page.css" />
        <script src="https://kit.fontawesome.com/ca4d41ee5b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="page">
            <table width="100%">
                <tr>
                    <td width="30%" class="dark-table">
                        <h1>Daniel Stocker</h1>
                    </td>
                    <td width="70%" class="light-table">
                        <table style="margin-top: 3px; margin-bottom: 3px;">
                            <tr>
                                <td width="33%" class="left-align">
                                    <span class="smaller">
                                        <i class="fa-solid fa-envelope"></i> <a class="no-underline" href="mailto:mail@danielstocker.net">mail@danielstocker.net</a>
                                    </span>
                                </td>
                                <td width="25%" class="left-align">
                                    <span class="smaller">
                                        <i class="fa-solid fa-location-dot"></i> Vancouver, BC
                                    </span>
                                </td>
                                <td width="35%" class="left-align">
                                    <span class="smaller">
                                        <i class="fa-brands fa-linkedin-in"></i> <a class="no-underline" href="https://www.linkedin.com/in/dan-stocker">linkedin.com/in/dan-stocker</a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="33%" class="left-align">
                                    <span class="smaller">
                                        <i class="fa-solid fa-phone"></i> <a class="no-underline" href="tel:+12367882120">+1 (236) 788 2120</a>
                                    </span>
                                </td>
                                <td width="25%" class="left-align">
                                    <span class="smaller">
                                        <i class="fa-solid fa-globe"></i> <a class="no-underline" href="https://www.danielstocker.net">danielstocker.net</a>
                                    </span>
                                </td>
                                <td width="35%" class="left-align"">
                                    <span class="smaller">
                                        <i class="fa -solid fa-github"></i> <a class="no-underline" href="https://www.github.com/danielstocker">github.com/danielstocker</a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            ## CONTENT-START
            ## SUMMARY
            <table width="100%" style="padding-top: 3px; padding-bottom: 3px;">
                <tr>
                    <td width="75%" class="dark-table">
                        <h2>Work Experience</h2>
                    </td>
                    <td width="25%" class="light-table">
                        &nbsp;
                    </td>
                </tr>
            </table>
            ## ARRAY-JOB
            <table width="100%" style="padding-top: 3px; padding-bottom: 3px;">
                <tr>
                    <td width="75%" class="dark-table">
                        <h2>Education</h2>
                    </td>
                    <td width="25%" class="light-table">
                        &nbsp;
                    </td>
                </tr>
            </table>
            ## ARRAY-EDU
            <table width="100%" style="padding-top: 3px; padding-bottom: 3px;">
                <tr>
                    <td width="75%" class="dark-table">
                        <h2>Certifications</h2>
                    </td>
                    <td width="25%" class="light-table">
                        &nbsp;
                    </td>
                </tr>
            </table>
            ## CERTS
            <table width="100%" style="padding-top: 3px; padding-bottom: 3px;">
                <tr>
                    <td width="75%" class="dark-table">
                        <h2>Technical Skills</h2>
                    </td>
                    <td width="25%" class="light-table">
                        &nbsp;
                    </td>
                </tr>
            </table>
            ## SKILLS
            <table width="100%" style="padding-top: 3px; padding-bottom: 3px;">
                <tr>
                    <td width="75%" class="dark-table">
                        <h2>Languages</h2>
                    </td>
                    <td width="25%" class="light-table">
                        &nbsp;
                    </td>
                </tr>
            </table>
            ## LANGUAGES
            <table width="100%" style="padding-top: 3px; padding-bottom: 3px;">
                <tr>
                    <td width="75%" class="dark-table">
                        <h2>Interests</h2>
                    </td>
                    <td width="25%" class="light-table">
                        &nbsp;
                    </td>
                </tr>
            </table>
            ## INTERESTS
            ## CONTENT-END
            <table width="100%" id="end-of-page">
                <tr>
                    <td width="75%" class="dark-table">
                    &nbsp;
                    </td>
                    <td width="25%" class="light-table">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>