
@page {
    size: letter;
    margin: 0;
}
  
@media print {
    #page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
}

body {
    font-family: Avenir, sans-serif;
    font-size: 10pt;
}

#page {
    width: 215mm; 
    height: 275mm;
}

.content {
    margin-left: 5mm;
    margin-right: 5mm;
}

table, tr, td {
    border: 0;
}

td {
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.dark-table {
    color: white;
    background-color: #002060;
    font-size: 12pt;
}

.light-table {
    color: black;
    background-color: #D7DCE4;
}

.no-underline {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.smaller {
    font-size: 10pt !important;
}

.larger {
    font-size: 12pt !important;
}

.left-align {
    text-align: left;
    padding-left: 5px;
}
.right-align {
    text-align: right !important;
    padding-right: 5px !important;
}

h1 {
    font-size: 14pt !important;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 12pt !important;
    font-weight: bold;
    margin: 0;
}

h2.left-align {
    font-weight: 750 !important;
}

table {
    width: 100%;
    margin-bottom: 5px;
}

.listitem {
    font-size: 10pt !important;
    text-align: left;
}

.listitem li {
    width: 100%;
}

content.table {
    width: 100%;
}

.content-outer {
    padding-left: 4px;
    padding-right: 4px;
}

.table-element {
    padding-left: 8px;
    padding-right: 8px;
}